@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("fonts/HelveticaNeue-Bold.woff2");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: white;
  font-family: "Inter", sans-serif;
}

.hero {
  padding: 0;

  nav {
    padding: 1rem 0;

    ul {
      /* border: 1px solid black; */
      justify-content: center;
      gap: 1.5em;

      a {
        padding: 0px;

        &:hover {
          background: white;
        }
      }
    }

    .logo {
      display: none;
      padding: 0;
    }
  }

  .hero1 {
    /* border: 1px solid black; */
    h4 {
      position: relative;
      top: 100px;
      transform: translateY(0);
      left: 20px;
      width: 100%;
      display: none;
    }

    h2 {
      position: absolute;
      width: 90%;
      left: 20px;
      font-weight: 500;
    }
  }

  .hero-name {
    position: relative;
    top: 30%;
    left: 20px;
    h1 {
      font-size: 5rem;
    }
  }
}

.page1 {
  position: relative;
  padding: 2rem;

  main {
    position: relative;
    flex-direction: column;
    gap: 3em;
  }

  .block {
    width: 100%;
    height: 25vh;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: 0.3s ease;
    }

    &:hover::after {
      opacity: 0.3;
    }
    img {
      display: none;
    }
  }

  .port1 {
    background: url(port1.jpeg) no-repeat center/cover;
  }
  .port2 {
    background: url(port2.png) no-repeat center/cover;
  }
  .port3 {
    background: url(port3.png) no-repeat center/cover;
  }
  .port4 {
    background: url(port4.jpeg) no-repeat center/cover;
  }
  .port5 {
    background: url(port5.jpeg) no-repeat center/cover;
  }
  .port6 {
    background: url(port6.png) no-repeat center/cover;
  }
}

.about {
  padding: 1rem;

  header {
    justify-content: center;
  }
  h1 {
    text-align: center;
  }
}

.contact {
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 0;
  align-items: start;

  h2 {
    font-size: 1.5rem;
  }

  nav {
    margin-top: 24px;
  }
}
