@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("fonts/HelveticaNeue-Bold.woff2");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: white;
  font-family: "Inter", sans-serif;
}

.hero {
  padding: 0;

  nav {
    padding: 1rem 0;

    ul {
      /* border: 1px solid black; */
      justify-content: center;
      gap: 1.5em;

      a {
        padding: 0px;

        &:hover {
          background: white;
        }
      }
    }

    .logo {
      display: none;
      padding: 0;
    }
  }

  .hero1 {
    /* border: 1px solid black; */
    h4 {
      position: relative;
      top: 100px;
      transform: translateY(0);
      left: 20px;
      width: 100%;
      display: none;
    }

    h2 {
      position: absolute;
      width: 90%;
      left: 20px;
      font-weight: 500;
    }
  }

  .hero-name {
    position: relative;
    top: 30%;
    left: 20px;
    h1 {
      font-size: 5rem;
    }
  }
}

.page1 {
  padding: 2rem;

  main {
    position: relative;
    width: 100%;
  }

  .block {
    height: auto;
    width: 100%;
  }
}
