@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("fonts/HelveticaNeue-Bold.woff2");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  font-family: "Inter", sans-serif;
}

.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  background-color: #f5f5f5;
  overflow: hidden;
}

nav {
  position: absolute;
  z-index: 10;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  transition: text-shadow 0.3s, transform 0.3s;
}

nav a:hover {
  text-shadow: 0 0 8px gray;
  transform: scale(1.2);
}

.logo {
  font-weight: 800;
  font-size: 23px;
}

.hero1 {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.back-vid {
  position: absolute;
  top: 60px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 80px);
  object-fit: cover;
  border-radius: 20px;
  z-index: 1;
  pointer-events: none;
}

.hero-name {
  position: absolute;
  top: 40%;
  left: 80px;
  transform: translateY(-50%);
  z-index: 5;
  color: white;
  text-align: left;
}

.hero-name h1 {
  font-size: 6rem;
  margin: 0;
}

.hero1 h4 {
  position: absolute;
  top: 60%;
  left: 80px;
  transform: translateY(-50%);
  z-index: 6;
  color: white;
  width: 60%;
}

.hero1 h2 {
  position: absolute;
  top: 80%;
  right: 100px;
  transform: translateY(-50%);
  z-index: 6;
  color: white;
  width: 60%;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo-slider {
  position: absolute;
  align-items: center;
  left: 450px;
  width: 510px;
  bottom: 50px;
  overflow: hidden;
  z-index: 10;
  filter: invert(1);
}

.logo-track {
  display: flex;
  gap: 50px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.logo-track img {
  height: 30px;
  filter: none;
  pointer-events: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.page1 {
  padding: 2rem 5rem;
  position: relative;
  min-height: 100dvh;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    a {
      padding: 10px 20px;
      text-decoration: none;
      color: black;
      background-color: rgb(225, 223, 223);
      font-size: 12px;
    }
    h1 {
      font-weight: 400;
    }
  }

  main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 6em;
    flex-wrap: wrap;
    flex: 0 0 5em;

    a {
      transition: 0.3s ease;
    }
    .block {
      position: relative;
      height: 40vh;
      border: 1px solid black;
      width: 500px;
      overflow: hidden;
      border-radius: 24px;
      background: #000;

      img {
        aspect-ratio: 16/9;
        height: 50vh;
        object-fit: cover;

        transition: 0.3s ease;
      }

      h2 {
        font-size: 2rem;
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 10;
        color: white;
        opacity: 0;
        transition: 0.3s ease;
      }
    }

    .port6 img {
      position: absolute;
      left: -80px;
    }

    .port2 img {
      position: absolute;
      left: -70px;
    }

    .port4 img {
      position: absolute;
      left: -70px;
      top: -30px;
    }

    a:hover img {
      scale: 1.1;
      opacity: 0.8;
    }

    a:hover h2 {
      opacity: 1;
    }
  }
}

.about {
  position: relative;
  min-height: 100dvh;
  border-top: 1px solid #f5f5f5;

  padding: 2rem 6rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: 500;
      font-size: 1.5rem;
    }

    a {
      padding: 15px;
      text-decoration: none;
      color: black;
      background: #f5f5f5;
      font-size: 14px;
    }
  }

  main {
    display: flex;
    align-items: center;
    height: 35vh;

    h2 {
      width: 50%;
      font-weight: 400;
      font-size: 2.5rem;
    }
  }

  footer {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;

    img {
      height: 50vh;
      margin-left: 25rem;
    }

    h3 {
      width: 30%;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
